<!-- components/contact.html -->
<section class="contact" id="contact">
  <h2 class="project">Contact <span>me!</span></h2>
  <form action="#">
      <div class="input-box">
          <input type="text" placeholder="Full name" required aria-label="Nombre y Apellidos">
          <input type="email" placeholder="Email" required aria-label="Correo Electrónico">
      </div>
      <div class="input-box">
          <input type="number" placeholder="Cellphone" required aria-label="Número de Celular">
          <input type="text" placeholder="Reason" required aria-label="Motivo del Contacto">
      </div>
      <textarea cols="30" rows="10" placeholder="Message" required aria-label="Mensaje"></textarea>
      <input type="submit" value="Send" class="btn">
  </form>
</section>
