<!-- components/home.html -->
<section class="home" id="home">
  <div class="background-iframe-container">
    <iframe src='https://my.spline.design/moonparallax-93c019847e9ad9bcf0c0270e74f354fb/' frameborder='0' width='100%' height='100%'></iframe>
  </div>
  <div class="home-container">
    <!-- Primera columna: Contenido de presentación -->
    <div class="home-content">
      <h3>Hello! I am</h3>
      <h1>Gustavo Salazar</h1>
      <h3><span class="multiple-text"></span></h3>
      <div class="social-media">
        <a href="https://github.com/GASH962408" target="_blank" aria-label="GitHub">
          <img src="images/github.png" alt="GitHub" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/gustavo-alonso-salazar-huaman-4a1494168/" target="_blank" aria-label="LinkedIn">
          <img src="images/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://wa.me/+51941455221" target="_blank" aria-label="WhatsApp">
          <img src="images/whatsapp.png" alt="WhatsApp" class="social-icon">
        </a>
      </div>
      <a href="#portfolio" class="btn">Go to projects</a>
    </div>




    <!-- Segunda columna: Carrusel Circular -->
    <div class="carousel-wrapper">
      <img src="images/profile.png" alt="Imagen de Gustavo Salazar" class="carousel-image">
      <div class="circle">
        <!-- Puntos del carrusel -->
        <div class="point_general point1">
          <img src="images/react.svg" class="icon" alt="React">
          <span class="texte">React</span>
        </div>
        <div class="point_general point2">
          <img src="images/rails.svg" class="icon" alt="Rails">
          <span class="texte">Rails</span>
        </div>
        <div class="point_general point3">
          <img src="images/angular.svg" class="icon" alt="Angular">
          <span class="texte">Angular</span>
        </div>
        <div class="point_general point4">
          <img src="images/javascript.svg" class="icon" alt="JavaScript">
          <span class="texte">JavaScript</span>
        </div>
        <div class="point_general point5">
          <img src="images/scss.png" class="icon" alt="SCSS">
          <span class="texte">SCSS</span>
        </div>
        <div class="point_general point6">
          <img src="images/post.svg" class="icon" alt="PostgreSQL">
          <span class="texte">PostgreSQL</span>
        </div>
        <div class="point_general point7">
          <img src="images/figma.svg" class="icon" alt="Figma">
          <span class="texte">Figma</span>
        </div>
        <div class="point_general point8">
          <img src="images/python.svg" class="icon" alt="Python">
          <span class="texte">Python</span>
        </div>
      </div>
    </div>
  </div>
</section>
